name: Test

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  push:
    branches:
      - main
  merge_group:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit-test:
    name: Unit test
    runs-on: ubuntu-latest
    permissions:
      # Set permissions for ${{ secrets.GITHUB_TOKEN }}
      # https://docs.github.com/en/actions/security-guides/automatic-token-authentication
      packages: read
    env:
      GITHUB_ACTOR: ${{ github.actor }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Run checkout github action
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          lfs: 'true'
          submodules: 'true'
          fetch-depth: 0

      - name: Set up GitHub runner
        uses: ./actions/setup-runner

      - name: Cache mobile-android-pipelines build
        uses: ./actions/cache-pipelines-build

      - name: Unit test
        # Exclude Konsist unit tests which are actually lint checks
        # Build all unit tests so that jars are available for Sonar
        run: |
          ./gradlew assembleDebugUnitTest
          ./gradlew testDebugUnitTest -x konsist-test:testDebugUnitTest
          ./gradlew testBuildDebugUnitTest
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Verify screenshots
        run: |
          ./gradlew verifyPaparazziDebug
          ./gradlew verifyPaparazziBuildDebug
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Sonar analyzers must have access to the bytecode to perform an accurate analysis.
      # https://community.sonarsource.com/t/sonarscanner-for-gradle-you-can-now-decide-when-to-compile/102069
      - name: Upload jars
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4.6.1
        with:
          name: jars
          path: "**/build/**/*.jar"

      - name: Upload test report
        if: ${{ failure() }}
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4.6.1
        with:
          name: unit-test-reports
          path: "**/build/reports/tests/**/*"

      - name: Upload test coverage report
        uses: ./mobile-android-pipelines/actions/upload-coverage-reports
        with:
          artifact-name: unit-test-coverage

      - name: Clean workspace
        if: ${{ always() }}
        uses: ./mobile-android-pipelines/actions/clean-workspace

  instrumentation-test:
    name: Instrumentation test
    runs-on: ubuntu-latest
    permissions:
      # Set permissions for ${{ secrets.GITHUB_TOKEN }}
      # https://docs.github.com/en/actions/security-guides/automatic-token-authentication
      packages: read
    steps:
      - name: Run checkout github action
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          lfs: 'true'
          submodules: 'true'
          fetch-depth: 0

      - name: Set up GitHub runner
        uses: ./actions/setup-runner

      - name: Cache mobile-android-pipelines build
        uses: ./actions/cache-pipelines-build

      - name: Instrumentation test
        # There are currently no device tests in the project.
        # Keep this step so that it is simple to add device tests when needed.
        run: ./gradlew assembleAndroidTest
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload test coverage report
        uses: ./mobile-android-pipelines/actions/upload-coverage-reports
        with:
          artifact-name: instrumentation-test-coverage

      - name: Clean workspace
        if: ${{ always() }}
        uses: ./mobile-android-pipelines/actions/clean-workspace

  sonar-scan:
    name: Scan with Sonar
    runs-on: ubuntu-latest
    needs:
      - unit-test
    steps:
      - name: Run checkout github action
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          lfs: 'true'
          submodules: 'true'
          fetch-depth: 0

      - name: Set up GitHub runner
        uses: ./actions/setup-runner

      - name: Cache mobile-android-pipelines build
        uses: ./actions/cache-pipelines-build

      - name: Download jars
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 #v4.1.8
        with:
          name: jars

      - name: Download unit test coverage reports
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 #v4.1.8
        with:
          name: unit-test-coverage

      - name: Scan with Sonar
        uses: ./mobile-android-pipelines/actions/sonar-scan
        with:
          sonar-token: ${{ secrets.SONAR_TOKEN }}
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Clean workspace
        if: ${{ always() }}
        uses: ./mobile-android-pipelines/actions/clean-workspace
